{{#> layout}}
    {{#*inline "content"}}
        <h1>{{title}}</h1>
        Welcome to {{title}}
        <form action="/api/users/{{user._id}}" method="post">
            <label for="username">username: </label><input type="text" id="username" name="username" value={{user.username}}>
            <label for="email">email: </label><input type="text" id="email" name="email" value={{user.email}}>
            <label for="password">password: </label><input type="password" id="password" name="password" value={{user.password}}>
            <label for="confirmPassword">confirm password: </label><input type="password" id="confirmPassword" name="confirmPassword" value={{user.password}}>
            <input type="submit" value="Submit">
        </form>
    {{/inline}}
{{/layout}}
